<div class="text-center">
  {{!-- Title Blog --}}
  <h2>{{title}}</h2>
  {{!-- get_emoji from helpers --}}
  <p>{{{get_emoji}}}</p>
  {{!-- Blog content --}}
  <p>{{content}}</p>
  {{!-- Displays who created the blog and date created --}}
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  {{!-- Built-in helper to display new comment form if logged in --}}
  {{#if logged_in}}
  {{!-- Form for adding new comment --}}
  <form class="form new-comment-form" class="my-5">
    <div class="my-5">
      <label for="textarea-comment" class="comment-label-text">Add a comment:</label>
      <!-- Textarea input for user to submit new comment -->
      <textarea
      class="form-control"
      id="textarea-comment"
      placeholder="Enter text here.."
      {{!-- 4 lines for user comment --}}
      rows="4"      
      ></textarea>
    </div>
    <div>
      <button id="commentSubmit" type="submit" class="btn" value="submit">Submit</button>
    </div>
  </form>
  {{/if}}
  <h2 class="mt-5">Comment History:</h2>
  {{!-- {{#each comments}} --}}
  <div class="comment my-5">
    <p>{{comment_input}}</p>
    <p>By {{user.username}} on {{format_date date_created}}</p>
  </div>
  {{!-- {{/each}} --}}
</div>

<script src="/js/new-comment.js"></script>